*{
    box-sizing: border-box;
}

.only-photo {
    display: flex;
    flex-flow: wrap;
    background-size: contain;
    vertical-align: top;
}

@media screen and (max-width: 800px) {
    .only-photo {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .only-photo {
        flex: 100%;
        max-width: 100%;
    }
}
